*{
    margin: 0;
}
body{

  background-image: url(/imgens/fundo.jpg); 
  background-size: cover;
  color: white;
  overflow: hidden;

}

h3{

    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;    
}

h1{
    color:white;
    text-align: center;
}

h2{
    text-align: center;
    background-color: white;
    color: black;
    width: 400px;
    text-align: center;
    padding-left: 550px;

}

a{
    color: white;
}

.fundo{
 background-color: rgba(0, 0, 0, 0.459);
 text-align: center;
 padding-top: 200px;
 height: 80vh;
}